// Define light base colors
$light-background: #f8f8f8;
$light-text: #333;
$light-border: #ddd;
$light-button-background: #bbd5db;
$light-button-text: #000;
$light-confirm: #00a91f;
$light-cancel: #f44336;
